<!-- View for adding or editing a reservation. -->

@model WittenBnb.Models.ReservationViewModel
@{
    var isEditMode = Model.Id != null;
    ViewBag.Title = isEditMode ? "Edit Reservation # " + Model.Id : "Make A Reservation";
}

<h2>@ViewBag.Title</h2>
<br />

<div class="row">
    <div class="col-sm-6 col-xs-10">
        @using (Html.BeginForm(isEditMode ? "EditReservation" : "AddReservation", "Reservation"))
        {
            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Phone)
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Notes)
                @Html.TextBoxFor(m => m.Notes, new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-primary">@(isEditMode ? "Save" : "Add")</button>
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
        }
    </div>
</div>